# --- Core framework ---
fastapi==0.115.0
uvicorn[standard]==0.30.6

# --- Database ---
sqlalchemy==2.0.35
psycopg==3.2.10
psycopg-binary==3.2.10

# --- Env vars ---
python-dotenv==1.0.1

# --- Migrations (opcional) ---
alembic==1.13.2

# --- Starlette (sub-dep de FastAPI) ---
starlette==0.38.2
